
body{
  background-color: #841d74;
}

/* form {
  margin: 8rem auto 3rem auto;
  padding: 4rem;
  width: 90%;
  max-width: 90rem;
  border-radius: 16px;
  background-color: white;
  position: absolute;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 22rem;
  max-width: 40rem;
  max-height: 50rem;

} */

form{
  margin: 12rem auto 3rem auto;
  padding: 4rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 90%;
  max-width: 30rem;
  max-height: 40rem;

} 

div.search {
    width: 100%;
}


input.searchTerm {
  width: 100%;
  border: 3px solid #cc00c9;
  padding: 20px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 20px;
}

select.searchTerm {
  width: 100%;
  border: 3px solid #cc00be;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #b99dbf;
  font-size: 20px;
}

input.searchTerm:focus{
  color: #cc00b4;
}

button.searchButton {
  width: 160px;
  height: 36px;
  border: 1px solid #cc00cc;
  background: #bb00cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

div.wrap{
    height: 95vh;
    width: 95vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#response-control{
    margin: 3rem auto 3rem auto;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 90%;
    max-width: 15rem;

}